<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
               Hi! My name is Shivam Yadav and I am a student at the Univeristy of Michigan. I have a BSE (Bachelor of Science, Engeineering) in Data Science, and am currently pursing a Master of Science in Applied Statistics. I have experience in both theoretical and practical applciations of data science and machine learning. Some of my favorite classes include information retrieval, theoretical probability, and machine learning.
            </p>
            <p class="paragraph-text justify-text">
                When I'm not studying, I try to cook as much as I can. Follow @shivamthechef on instagram to keep up to date with my latest endeavors in the culinary world!
            </p>
            <p class="paragraph-text justify-text">
                Happy browsing!!
            </p>
        </div>
    </section>
</div>
